<!DOCTYPE html>
<html>
<head>
<title>DAE Sickness</title>
<!-- Basic
================================================== -->
<meta charset="utf-8" />
<meta http-equiv="Content-Language" content="en">
<meta name="viewport" content="width=ice-width, initial-scale=1.0">
<meta name="Description" content="Cardinal Health Codefest 2014 project">
<meta name="author" content="Kacper, Alex, William.">
<!-- <link rel="shortcut icon" href=""> -->
<!-- <link rel="apple-touch-icon" href=""> -->

<!-- CSS
================================================== -->
<link href="/media/css/home.css" rel="stylesheet">
<link href="/media/css/bootstrap.css" rel="stylesheet" media="screen">
<link
	href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css"
	rel="stylesheet">
</head>
<body>
	<div id="mainnav" class="navbar navbar-default navbar-static-top">
	<div class="nav-padding"></div>
		<div class="container">
			<a href="/" class="navbar-brand"><i class="fa fa-heart"></i> DAE
				Sickness?</a>
		</div>
		<div class="nav-padding"></div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
				<form class="form-search" action="{% url 'search' %}" method="post">
					{% csrf_token %}
					<div class="input-group">
						<input type="text" name="term" id="term" class="form-control" placeholder="please enter a search term"><span
							class="input-group-btn">
							<button class="btn btn-default" type="submit">Search</button>
						</span>
					</div>
				</form>
			</div>
		</div>
	</div>
	{% block results %}{% endblock %}
	<script src="http://code.jquery.com/jquery.js" type="text/javascript"></script>
	<script src="/media/js/bootstrap.js" type="text/javascript"></script>
</body>
</html>
