<!DOCTYPE html>
<html>
<head>
<title>Astrobanana</title>
<!-- Basic
================================================== -->
<meta charset="utf-8" />
<meta http-equiv="Content-Language" content="en">
<meta name="viewport" content="width=ice-width, initial-scale=1.0">
<meta name="Description" content="Cardinal Health Codefest 2014 project">
<meta name="author" content="Kacper, Alex, William.">
<!-- <link rel="shortcut icon" href=""> -->
<!-- <link rel="apple-touch-icon" href=""> -->

<!-- CSS
================================================== -->
<link href="<!-- bootstrap -->" rel="stylesheet" media="screen">
<link
	href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css"
	rel="stylesheet">
</head>
<body>
	<h1>Hello, World!></h1>
	<form action = "{% url 'search' %}" method="post">
		{% csrf_token %}
		<input type="text" name="term"  id="term" value="Common cold"/><br>
		<input type="submit" value="Submit Search"/>
	</form>
	<script src="http://code.jquery.com/jquery.js" type="text/javascript"></script>
	<script src="<!-- bootstrap -->" type="text/javascript"></script>
</body>
</html>
