p {
	margin-top: 5px !important;
	margin-bottom: 5px !important;
}

body {
	background-image: url(../img/congruent_pentagon.png);
}

h3>a {
	color: #508563;
}

.search {
	text-align: center;
}

.input-group {
	margin-top: 5px !important;
}

.site-icon {
	max-height: 20px;
}

.top-padding {
	margin-top: 30px;
}

.home-padding {
	margin-top: 100px;
}

.page-header {
	border-bottom: none !important;
}

a:link,a:visited,a:hover,a:active {
	text-decoration: none !important;
}

.navbar-header {
	float: left !important;
	padding: 40px !important;
	text-align: center !important;
	width: 100% !important;
}

.navbar-brand {
	float: none !important;
	font-size: xx-large !important;
	font-weight: bold !important;
	color: rgb(0, 180, 58) !important;
}

.btn-default {
	background-color: rgb(150, 233, 150) !important;
	color: rgb(0, 180, 58) !important;
}

.btn-primary {
	background-color: rgb(0, 180, 58) !important;
	margin-top: 15px !important;
}

.badge {
	background: rgb(150, 233, 150) !important;
}

#mainnav {
	background-color: rgb(150, 233, 150);
	opacity: .5;
}